.menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      color: #37C0E6;
      text-decoration: none;

      &__active {
        color: #ADFF2F;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 700px) {
  .menu {
    &__list {
      flex-direction: column;
    }
  }
}
