$blue:#29648A;
$purple: rgba(120, 168, 211, 0.87);
$lightBlue: #5DD8FF;

$pageBackground: #242582;
$headerBackground: transparentize($lightBlue,0.3);
$menuBackground: transparentize($lightBlue, .5);
$pgContentBackground: transparentize($blue, .5);
$footerBackground: transparentize($lightBlue, .5);

html {
  height: 100%;
  background: radial-gradient(#0D8DDE, #272727);

}

body {
  color: #FFF;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper > * {
  border-radius: 5px;
  margin: 16px;
  padding: 10px;

}

.wrapper {
  display: grid;
  grid-gap-row: 20px;
  grid-column-gap: 10px;
  grid-template-areas: "header" "loginRegister" "menu" "content" "footer";
  grid-template-rows: auto;
  margin: 0 auto;
  height: 100%;

  &__header {
    grid-area: header;
    height: 4rem;
    padding: 10px;
    color: #FFFFFF;
    background: radial-gradient($headerBackground, transparent);
  }

  &__menu {
    grid-area: menu;
    height: fit-content;
    background: radial-gradient($menuBackground, transparent);
  }

  &__login_register {
    grid-area: loginRegister;
    border: none;

  }

  &__page-content {
    grid-area: content;
    background-color: hsla(39, 77%, 83%, 0.3);
  }

  &__footer {
    grid-area: footer;
    height: 4rem;
    background: radial-gradient($footerBackground, transparent);
    color: #FFFFFF;}

}

@media (min-width: 500px) {
  .wrapper {
    grid-template-areas: "header menu" 'loginRegister loginRegister'  "content content" "footer    footer";
    grid-template-columns: 250px 1fr;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-gap: unset;
    grid-template-areas: "header header  header" "loginRegister loginRegister loginRegister " "menu content content" "footer content content";
    grid-template-columns: 250px 1fr 1fr;

    &__header {
      grid-row: 1;
    }

    &__menu {
      grid-row: 2/3;
    }

    &__page-content {
      grid-row: 2/3;
    }

    &__footer {
      align-self: end;
      grid-row: 2/3;
    }

  }
}

.border-round-lg {
  border-radius: 32px;
  padding: 20px;
}

.text-blue {
  color: #BFD8EE;
  text-align: center;

}

.bd_line_bottom {
  border-bottom: solid #EFE4F6 1px;
}

.success-msg {
  color: #95D451;
}

.error-msg {
  color: #E53A33;
  background: radial-gradient(#4BABD4, transparent);
  padding: 10px;
}

.btn {
  background: transparent;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 16px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;

  &:hover {
    background: transparent;
    color: #6E99BF;
    border: 3px solid #6E99BF;
  }
}
